{% extends 'base.html' %}
{% block content %}
    <div class="container-sm mt-3 mb-5 p-4 bg-dark text-light rounded-4">
        <div class="row">
            <form method="POST" class="form">
                <div class="col mb-3">
                    <label class='form-label'><h6>NOME DO CLIENTE</h6></label>
                    <input class='form-control' name='client_name' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>ENDEREÇO</h6></label>
                    <input class='form-control mb-3' name='client_end' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>CIDADE</h6></label>
                    <input class='form-control mb-3' name='client_city' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>UF</h6></label>
                    <input class='form-control mb-3' name='client_uf' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>CELULAR</h6></label>
                    <input class='form-control mb-3' name='client_cel' required type="tel">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>E-MAIL</h6></label>
                    <input class='form-control mb-3' name='client_mail' required type="email">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-light">CADASTRAR CLIENTE</button>
                </div>
            </form>
        </div>
  
    </div>
{% endblock %}