{% extends 'base.html' %}
{% block content %}
    <div class="container-sm mt-3 mb-5 p-4 bg-dark text-light rounded-4">
        <div class="row">
            <form method="POST" class="form" enctype="multipart/form-data">
                <div class="col mb-3">
                    <label class='form-label'><h6>CÓDIGO DO PRODUTO</h6></label>
                    <input class='form-control' name='cod' required type="number">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>NOME DO PRODUTO</h6></label>
                    <input class='form-control mb-3' name='name' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>DESCRIÇÃO DO PRODUTO</h6></label>
                    <input class='form-control mb-3' name='desc' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>QUANTIDADE NO ESTOQUE</h6></label>
                    <input class='form-control mb-3' name='qntd' required type="number">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>VALOR DO PRODUTO</h6></label>
                    <input class='form-control mb-3' name='val' required type="text">
                </div>
                <div class="col mb-3">
                    <label class='form-label'><h6>IMAGEM DEMONSTRATIVA DO PRODUTO</h6></label>
                    <input class='form-control mb-3' name='arq' required type="file"><label class='form-label'>* A imagem deve ter o mesmo nome que o produto</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-light">CADASTRAR PRODUTO</button>
                </div>
            </form>
        </div>
  
    </div>
{% endblock %}