{% extends 'base.html' %}
{% block content %}
    <div class="container-sm pt-5">
        <table class="table table-bordered p-5">
            <thead class="table-dark">
                <th>NOME</th>
                <th>ENDEREÇO</th>
                <th>CIDADE</th>
                <th>UF</th>
                <th>CELULAR</th>
                <th>EMAIL</th>
                <th></th>
            </thead>
            <tbody>
                {% for c in clients %}
                    <tr>
                        <td>{{c.client_name }}</td>
                        <td>{{c.client_end}}</td>
                        <td>{{c.client_city}}</td>
                        <td>{{c.client_uf}}</td>
                        <td>{{c.client_cel}}</td>
                        <td>{{c.client_mail}}</td>
                        <td><a href="clientes/editar/{{c.client_id}}">✍</a><a href="clientes/deletar/{{c.client_id}}">❌</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}