{% extends 'base.html' %}
{% block content %}
    <div class="container-sm pt-5">
        <table class="table table-bordered  p-5">
            <thead class="table-dark">
                <th>IMAGEM</th>
                <th>CÓDIGO DO PRODUTO</th>
                <th>NOME DO PRODUTO</th>
                <th>DESCRIÇÃO</th>
                <th>ESTOQUE</th>
                <th>VALOR</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td><img src="../static/img/upload/{{p.product_name}}.png" alt="IMG" width="64" height="64"></td>
                        <td>{{ '%03d' % p.product_cod}}</td>
                        <td>{{ p.product_name}}</td>
                        <td>{{ p.product_desc}}</td>
                        <td>{{ p.product_qntd}}</td>
                        <td>R$ {{ p.product_valor}}</td>
                        <td><a href="produtos/ame/{{p.product_id}}">➕</a><a href="produtos/dme/{{p.product_id}}">➖</a><a href="/produtos/deletar/{{p.product_id}}">❌</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}